In [26]:
import pandas as pd

In [41]:
reviews = pd.read_csv("data/reviews.csv", sep = ",")

# Data Pre-Processing and EDA
Data Preparation from CRISP-DM <br/>
Data pre-processing involves:
- data cleaning (Fill in missing values, Identify outliers , noisy data, Transformations)

- data integration and transformation
- data reduction
- discretization and generalization

In [32]:
print(reviews.shape)
print(reviews.dtypes)
reviews.head(1)

(343299, 5)
listing_id      int64
id              int64
date           object
reviewer_id     int64
comments       object
dtype: object

,listing_id,id,date,reviewer_id,comments
0,44077,203703,2011-03-20,393348,We enjoyed our stay very much. The room was co...

## Reviews Cleaning

In [30]:
#dropping column
reviews = reviews.drop("reviewer_name", axis=1)
reviews.head(1)

,listing_id,id,date,reviewer_id,comments
0,44077,203703,2011-03-20,393348,We enjoyed our stay very much. The room was co...

In [34]:
# data type
reviews.date = pd.to_datetime(reviews.date)
print (reviews.date.min())
print (reviews.date.max())
reviews.head(1)

2011-03-20 00:00:00
2020-03-21 00:00:00

,listing_id,id,date,reviewer_id,comments
0,44077,203703,2011-03-20,393348,We enjoyed our stay very much. The room was co...

In [54]:
# isnull in comments ?
print(reviews.isnull().sum(axis = 0))
reviews.comments = reviews.comments.fillna("")

listing_id       0
id               0
date             0
reviewer_id      0
reviewer_name    0
comments         0
dtype: int64

In [55]:
#clean comments https://www.analyticsvidhya.com/blog/2018/02/the-different-methods-deal-text-data-predictive-python/
import nltk
from nltk.corpus import stopwords

nltk.download('stopwords')
stopwords.words("english")
stop = stopwords.words('english')

reviews.comments = reviews.comments.str.lower() # lower case
reviews.comments.replace({r"[^a-z ]" : ''}, inplace= True, regex = True) # only words
reviews.comments = reviews.comments.apply(lambda x: " ".join(x for x in x.split() if x not in stop))
reviews.comments.head()
reviews.head(1)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Y.Shoun\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,44077,203703,2011-03-20,393348,Christian,enjoyed stay much room comfortable neat clean ...

In [58]:
# check most frequent word
most_used = pd.Series(' '.join(reviews.comments).split()).value_counts()[:10]

In [60]:
most_used.head(10)

great        167201
stay         127855
place        127267
dublin       113225
location     110283
apartment     88864
clean         85159
us            80659
host          71848
nice          71711
dtype: int64

In [6]:
calendar.dtypes

listing_id             int64
date          datetime64[ns]
price                float64
dtype: object

In [7]:
calendar.isnull().sum(axis = 0)
df1  = calendar.groupby("date")[["price"]].sum()
df1["mean"]  = calendar.groupby("date")[["price"]].mean()
df1.columns = ["Total", "Average"]

From the calendar header, we remove columns that we likely won't use to answer our question: "available", "adjusted_price", "minimum_nights", "maximum_nights" <br/>
We remove the price tag on the price column and we convert the column into float <br/>
We check for date error by converting date column into datetime and checking the min-max

In [ ]:
print("min: ", calendar.price.min(), 
      "\nmax: ", calendar.price.max(), 
      "\nmean: ", calendar.price.mean())
calendar.boxplot(column="price")

We do have outliers.
However this normal.
Most of the prices in AirBnb are affordable and few of them are very expensive. The expensive one are the outilers whereas the typical on are around the mean.

In [8]:
calendar.isnull().sum(axis = 0)

listing_id        0
date              0
price         12570
dtype: int64

listing_id         0
id                 0
date               0
reviewer_id        0
reviewer_name      0
comments         138
dtype: int64

In [ ]:
eqwe